{% extends 'register_steps_base.html' %} {% load static %} {% block content %}

<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3 sidebar-sticky">
    <form class="d-flex" role="search">
      <input
        class="form-control mx-2"
        type="search"
        placeholder="Title/ISBN"
        aria-label="Search"
      />
      <button class="btn btn-outline-success me-2" type="submit">Search</button>
    </form>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span data-feather="home" class="align-text-bottom"></span>
          Genre
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file" class="align-text-bottom"></span>
          Fiction
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="shopping-cart" class="align-text-bottom"></span>
          Science Fiction
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="users" class="align-text-bottom"></span>
          Young adult
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="bar-chart-2" class="align-text-bottom"></span>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="layers" class="align-text-bottom"></span>
          Mystery
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <h5 class="text-center mb-5">
        Rate at least 5 books to continue, or tell us about books you heard
        about before and want to read.
      </h5>
      <div
        class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-5 row-cols-xl-6 g-3"
      >
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
              class="bd-placeholder-img card-img-top"
              height="260"
              width="100%"
            />
            <div class="card-body text-center">
              <p class="card-text">supporting text below</p>
              <div class="justify-content-between align-items-center">
                <div class="stars" data-rating="0">
                  <span class="fa fa-star" title="did not like it"></span>
                  <span class="fa fa-star" title="it was ok"></span>
                  <span class="fa fa-star" title="liked it"></span>
                  <span class="fa fa-star" title="really liked it"></span>
                  <span class="fa fa-star" title="it was amazing"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary mt-2"
                >
                  Want to read
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
              class="bd-placeholder-img card-img-top"
              height="260"
              width="100%"
            />
            <div class="card-body text-center">
              <p class="card-text">supporting text below</p>
              <div class="justify-content-between align-items-center">
                <div class="stars" data-rating="0">
                  <span class="fa fa-star" title="did not like it"></span>
                  <span class="fa fa-star" title="it was ok"></span>
                  <span class="fa fa-star" title="liked it"></span>
                  <span class="fa fa-star" title="really liked it"></span>
                  <span class="fa fa-star" title="it was amazing"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary mt-2"
                >
                  Want to read
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
              class="bd-placeholder-img card-img-top"
              height="260"
              width="100%"
            />
            <div class="card-body text-center">
              <p class="card-text">supporting text below</p>
              <div class="justify-content-between align-items-center">
                <div class="stars" data-rating="0">
                  <span class="fa fa-star" title="did not like it"></span>
                  <span class="fa fa-star" title="it was ok"></span>
                  <span class="fa fa-star" title="liked it"></span>
                  <span class="fa fa-star" title="really liked it"></span>
                  <span class="fa fa-star" title="it was amazing"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary mt-2"
                >
                  Want to read
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
              class="bd-placeholder-img card-img-top"
              height="260"
              width="100%"
            />
            <div class="card-body text-center">
              <p class="card-text">supporting text below</p>
              <div class="justify-content-between align-items-center">
                <div class="stars" data-rating="0">
                  <span class="fa fa-star" title="did not like it"></span>
                  <span class="fa fa-star" title="it was ok"></span>
                  <span class="fa fa-star" title="liked it"></span>
                  <span class="fa fa-star" title="really liked it"></span>
                  <span class="fa fa-star" title="it was amazing"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary mt-2"
                >
                  Want to read
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
              class="bd-placeholder-img card-img-top"
              height="260"
              width="100%"
            />
            <div class="card-body text-center">
              <p class="card-text">supporting text below</p>
              <div class="justify-content-between align-items-center">
                <div class="stars" data-rating="0">
                  <span class="fa fa-star" title="did not like it"></span>
                  <span class="fa fa-star" title="it was ok"></span>
                  <span class="fa fa-star" title="liked it"></span>
                  <span class="fa fa-star" title="really liked it"></span>
                  <span class="fa fa-star" title="it was amazing"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary mt-2"
                >
                  Want to read
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
              class="bd-placeholder-img card-img-top"
              height="260"
              width="100%"
            />
            <div class="card-body text-center">
              <p class="card-text">supporting text below</p>
              <div class="justify-content-between align-items-center">
                <div class="stars" data-rating="0">
                  <span class="fa fa-star" title="did not like it"></span>
                  <span class="fa fa-star" title="it was ok"></span>
                  <span class="fa fa-star" title="liked it"></span>
                  <span class="fa fa-star" title="really liked it"></span>
                  <span class="fa fa-star" title="it was amazing"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary mt-2"
                >
                  Want to read
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
              class="bd-placeholder-img card-img-top"
              height="260"
              width="100%"
            />
            <div class="card-body text-center">
              <p class="card-text">supporting text below</p>
              <div class="justify-content-between align-items-center">
                <div class="stars" data-rating="0">
                  <span class="fa fa-star" title="did not like it"></span>
                  <span class="fa fa-star" title="it was ok"></span>
                  <span class="fa fa-star" title="liked it"></span>
                  <span class="fa fa-star" title="really liked it"></span>
                  <span class="fa fa-star" title="it was amazing"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary mt-2"
                >
                  Want to read
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
              class="bd-placeholder-img card-img-top"
              height="260"
              width="100%"
            />
            <div class="card-body text-center">
              <p class="card-text">supporting text below</p>
              <div class="justify-content-between align-items-center">
                <div class="stars" data-rating="0">
                  <span class="fa fa-star" title="did not like it"></span>
                  <span class="fa fa-star" title="it was ok"></span>
                  <span class="fa fa-star" title="liked it"></span>
                  <span class="fa fa-star" title="really liked it"></span>
                  <span class="fa fa-star" title="it was amazing"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary mt-2"
                >
                  Want to read
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
              class="bd-placeholder-img card-img-top"
              height="260"
              width="100%"
            />
            <div class="card-body text-center">
              <p class="card-text">supporting text below</p>
              <div class="justify-content-between align-items-center">
                <div class="stars" data-rating="0">
                  <span class="fa fa-star" title="did not like it"></span>
                  <span class="fa fa-star" title="it was ok"></span>
                  <span class="fa fa-star" title="liked it"></span>
                  <span class="fa fa-star" title="really liked it"></span>
                  <span class="fa fa-star" title="it was amazing"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary mt-2"
                >
                  Want to read
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
