{% load static %}
<div class="table">
    <div class="table-header">Books read</div>
    <table cellspacing="0">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Author</th>
        <th>My rating</th>
        <th width="230">My review</th>
      </tr>

      <tr>
        <td>
          <img
            class="table-img"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
            alt=""
          />
        </td>
        <td>To kill a mocking bird</td>
        <td>Harper Lee</td>
        <td>4/5</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
      </tr>

      <tr>
        <td>
          <img
            class="table-img"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
            alt=""
          />
        </td>
        <td>To kill a mocking bird</td>
        <td>Harper Lee</td>
        <td><button class="btn btn-sm btn-info mt-2">Rate</button></td>
        <td>
          <button class="btn btn-sm btn-info mt-2">Write review</button>
        </td>
      </tr>

      <tr>
        <td>
          <img
            class="table-img"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
            alt=""
          />
        </td>
        <td>To kill a mocking bird</td>
        <td>Harper Lee</td>
        <td>4/5</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
      </tr>

      <tr>
        <td>
          <img
            class="table-img"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
            alt=""
          />
        </td>
        <td>To kill a mocking bird</td>
        <td>Harper Lee</td>
        <td>4/5</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
      </tr>
    </table>
  </div>
</div>