{% load static %}
<div class="table">
    <div class="table-header">Want to read</div>
    <table cellspacing="0">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Author</th>
        <th>Similar books</th>
        <th></th>
      </tr>

      <td>
        <img
          class="table-img"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
          alt=""
        />
      </td>
      <td>To kill a mocking bird</td>
      <td>Harper Lee</td>
      <td><button class="btn btn-sm btn-info mt-2">similar books</button></td>
      <td>
        <button class="btn btn-sm btn-info mt-2">set as currently reading</button>
      </td>
    </tr>
      <tr>
        <td>
          <img
            class="table-img"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
            alt=""
          />
        </td>
        <td>To kill a mocking bird</td>
        <td>Harper Lee</td>
        <td><button class="btn btn-sm btn-info mt-2">similar books</button></td>
        <td>
          <button class="btn btn-sm btn-info mt-2">set as currently reading</button>
        </td>
      </tr>

      <td>
        <img
          class="table-img"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
          alt=""
        />
      </td>
      <td>To kill a mocking bird</td>
      <td>Harper Lee</td>
      <td><button class="btn btn-sm btn-info mt-2">similar books</button></td>
      <td>
        <button class="btn btn-sm btn-info mt-2">set as currently reading</button>
      </td>
    </tr>

    <td>
        <img
          class="table-img"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
          alt=""
        />
      </td>
      <td>To kill a mocking bird</td>
      <td>Harper Lee</td>
      <td><button class="btn btn-sm btn-info mt-2">similar books</button></td>
      <td>
        <button class="btn btn-sm btn-info mt-2">set as currently reading</button>
      </td>
    </tr>
    </table>
  </div>
</div>