*.csv
*.7z
preprocessed_original/**
__pycache__
geckodriver.log
reviews.txt
*.csv
*.json
__pycache__

Dataset/*/*.csv
dataset/goodreads_reviews_dedup.json
Backend/NextReads/venv
Backend/NextReads/venv/Scripts
Backend/NextReads/node_modules
Recommender/SentimentAnalysis/models/tfidf.pkl
Recommender/SentimentAnalysis/models/tfidf.pkl
