{% load static %}
<div>
  <div class="table" id="blur">
    <div class="table-header">Books read</div>
    <table cellspacing="0">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Genres</th>
        <th>My rating</th>
        <th width="230">My review</th>
      </tr>
      {% if books|length == 0 %}
        <tr>
          <td colspan="5" class="text-center">No books read yet</td>
        </tr>
      {% else %}

        {% for book in books %}
        <tr>
          <td>
            <img
              class="table-img"
              src="{{book.bookId.imageUrl}}"
              alt=""
            />
          </td>
          <td>{{book.bookId.title}}</td>
          <td>{% if book.bookId.genres %}{{book.bookId.genres}}{% else %}-{% endif %}</td>
          {% if book.rating %}
          <td>{{book.rating}}/5 <br>
            <button
              class="btn btn-sm btn-link mt-2"
              data-bs-toggle="modal" 
              data-bs-target="#rateBackdrop{{book.bookId.id}}"
            >
              Edit
            </button>
            {% include 'partials/_rate_modal.html'%}
          </td>
          {% else %}
          <td>
            <button
              class="btn btn-sm btn-outline-primary mt-2"
              data-bs-toggle="modal" 
              data-bs-target="#rateBackdrop{{book.bookId.id}}"
            >
              Rate
            </button>
            {% include 'partials/_rate_modal.html'%}
          </td>
          {% endif %}

          {% if book.userReview %}
          <td>{{book.userReview}} <br>
            <button
              class="btn btn-sm btn-link mt-2"
              data-bs-toggle="modal" 
              data-bs-target="#staticBackdrop{{book.bookId.id}}"
            >
              Edit
            </button>
            {% include 'partials/_review_modal.html'%}
          </td>
          {% else %}
          <td>
            <button
              class="btn btn-sm btn-outline-primary mt-2"
              data-bs-toggle="modal" 
              data-bs-target="#staticBackdrop{{book.bookId.id}}"
            >
              Write review
            </button>
            {% include 'partials/_review_modal.html'%}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      {% endif %}
      
    </table>
  </div>
</div>


