{% load static %}
<div>
  <div class="table" id="blur">
    <div class="table-header">Books read</div>
    <table cellspacing="0">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Genres</th>
        <th>My rating</th>
        <th width="230">My review</th>
      </tr>
      {% if books|length == 0 %}
        <tr>
          <td colspan="5" class="text-center">No books read yet</td>
        </tr>
      {% else %}

        {% for book in books %}
        <tr>
          <td>
            <img
              class="table-img"
              src="{{book.bookId.imageUrl}}"
              alt=""
            />
          </td>
          <td>{{book.bookId.title}}</td>
          <td>{% if book.bookId.genres %}{{book.bookId.genres}}{% else %}-{% endif %}</td>
          {% if book.rating %}
          <td>{{book.rating}}/5 <br>
            <button
              class="btn btn-sm btn-link mt-2"
              data-bs-toggle="modal" 
              data-bs-target="#rateBackdrop{{book.bookId.id}}"
            >
              Edit
            </button>
            {% include 'partials/_rate_modal.html'%}
          </td>
          {% else %}
          <td>
            <button
              class="btn btn-sm btn-outline-primary mt-2"
              data-bs-toggle="modal" 
              data-bs-target="#rateBackdrop"
            >
              Rate
            </button>
          </td>
          {% endif %}

          {% if book.review %}
          <td>{{book.review}} <br>
            <button
              class="btn btn-sm btn-link mt-2"
              data-bs-toggle="modal" 
              data-bs-target="#staticBackdrop"
            >
              Edit
            </button>
          </td>
          {% else %}
          <td>
            <button
              class="btn btn-sm btn-outline-primary mt-2"
              data-bs-toggle="modal" 
              data-bs-target="#staticBackdrop"
            >
              Write review
            </button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      {% endif %}
      
    </table>
  </div>
  
  <!-- model review -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Write a review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Review:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- -->
</div>


