{% load static %}
{% include 'partials/_messages.html' %}
<form class="d-flex" role="search" method="POST" action="{%  url 'userProfile:search-in-tbr' %}">
  {% csrf_token %}
  <input type="hidden" name="current_page" value={{request.path}} />
  <input
    class="form-control mx-2"
    type="search"
    placeholder="Title/ISBN"
    aria-label="Search"
    name ="query"
  />
  <button class="btn btn-outline-success me-2" type="submit">
    Search
  </button>
</form>
<div class="table">
    <div class="table-header">Want to read</div>
    <table cellspacing="0">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Genres</th>
        <th>Similar books</th>
        <th></th>
      </tr>
      {% if books|length == 0 %}
      <tr>
        <td colspan="5" class="text-center">No books read yet</td>
      </tr>
    {% else %}
      {% for book in books %}
      <tr>
        <td>
          <img
            class="table-img"
            src="{{book.imageUrl}}"
            alt=""
          />
        </td>
        <td>{{book.title}}</td>
        <td>{% if book.genres %}{{book.genres}}{% else %}-{% endif %}</td>
        <td>
          <a href="{% url 'userProfile:book-details' book_id=book.id %}"class="btn btn-sm btn-outline-primary mt-2">View</a>
        </td>
        <td>
          <form method="POST" action="{% url 'userProfile:to-read-next' %}">
            {% csrf_token %}
            <input type="hidden" name="book_id" value="{{ book.id }}" />
            <button type = "submit" class="btn btn-sm btn-outline-primary mt-2">To Read Next</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    {% endif %}

    </table>
  </div>
</div>