{% extends 'userprofile/userprofile_base.html' %} {% load static %} {% block content %}
<div class = "inner-wrapper">
          <div
            class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3 mb-5"
          >
            <div class="col">
              <div class="card mx-5 shadow-sm" style="width: 12rem">
                <div class="card-header"># Books read</div>
                <div class="card-body text-center">
                  <h5 class="card-title">7</h5>
                  <p class="card-text">Reading Goal : 10</p>
                </div>
              </div>
            </div>
            <div class="col">
              <a href="#" style="text-decoration: none;">
              <div class="card mx-5 shadow-sm" style="width: 12rem">
                <img
                  src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
                  class="bd-placeholder-img card-img-top"
                  height="260"
                />
                <div class="card-header">Currently Reading</div>
                <div class="card-body text-center">
                  <h5 class="card-title">Book title</h5>
                  <div class="justify-content-between align-items-center">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary mt-2"
                    >
                      completed!
                    </button>
                  </div>
                </div>
              </div>
              </a>
            </div>
            <div class="col">
              <a href="#" style="text-decoration: none;">
              <div class="card mx-5 shadow-sm" style="width: 12rem">
                <img
                  src="{{toReadNext.imageUrl}}"
                  class="bd-placeholder-img card-img-top"
                  height="260"
                />
                <div class="card-header">Want to read next</div>
                <div class="card-body text-center">
                  <h5 class="card-title">{{toReadNext.title}}</h5>
                  <div class="justify-content-between align-items-center">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary mt-2"
                    >
                      start reading now
                    </button>
                  </div>
                </div>
              </div>
              </a>
            </div>
          </div>
        </div>
{% endblock %}       
<!-- {% url 'userProfile:to-read-next' %} -->