{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NextReads</title>

    <link href="{% static 'css/userprofile.css'%}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,900&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>

  <body>
    {% include 'partials/profileNavbar.html' %}
    <main>
      <div class="main-content-wrapper">
        
        {% block content %} {% endblock %}

    </div>
    </main>
    {% include 'partials/profileFooter.html' %}
  </body>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</html>
