{% load static %}
<nav
id="sidebarMenu"
class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
<div class="position-sticky pt-3 sidebar-sticky">
  <form class="d-flex" role="search" method="POST" action="{%  url 'userProfile:search-books' %}">
    {% csrf_token %}
    <input type="hidden" name="current_page" value={{request.path}} />
    <input
      class="form-control mx-2"
      type="search"
      placeholder="Title/ISBN"
      aria-label="Search"
      name ="query"
    />
    <button class="btn btn-outline-success me-2" type="submit">
      Search
    </button>
  </form>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'userProfile:get-genre' genre='all' %}">
        <span data-feather="home" class="align-text-bottom"></span>
        All books
      </a>
      <a class="nav-link" aria-current="page" href="{% url 'userProfile:get-genre' genre='non-fiction' %}">
        <span data-feather="home" class="align-text-bottom"></span>
        Non-Fiction
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='fiction' %}">
        <span data-feather="file" class="align-text-bottom"></span>
        Fiction
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='history' %}">
        <span data-feather="file" class="align-text-bottom"></span>
        Histroy
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='science-fiction' %}">
        <span data-feather="users" class="align-text-bottom"></span>
        Science-fiction
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='young' %}">
        <span data-feather="users" class="align-text-bottom"></span>
        Young adult
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='mystery' %}">
        <span data-feather="layers" class="align-text-bottom"></span>
        Mystery
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='fantasy' %}">
        <span data-feather="layers" class="align-text-bottom"></span>
        Fantasy
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='romance' %}">
        <span data-feather="layers" class="align-text-bottom"></span>
        Romance
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='paranormal' %}">
        <span data-feather="layers" class="align-text-bottom"></span>
        Paranormal
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='thriller' %}">
        <span data-feather="layers" class="align-text-bottom"></span>
        Thriller
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'userProfile:get-genre' genre='thriller' %}">
        <span data-feather="layers" class="align-text-bottom"></span>
        Thriller
      </a>
    </li>
  </ul>
</div>
</nav>