{% load static %}
<nav
id="sidebarMenu"
class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
<div class="position-sticky pt-3 sidebar-sticky">

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/userProfile/userbooks">
        <span data-feather="home" class="align-text-bottom"></span>
        Books read
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/userProfile/tbrbooks">
        <span data-feather="file" class="align-text-bottom"></span>
        Want to read
      </a>
    </li>    
  </ul>
</div>
</nav>