{% load static %}

<footer>
    <div class="contact-us">
      <h3>Contact Us</h3>
      <p>Phone: (123) 456-7890<br>Email: nextreads@gmail.com</p>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
    <div class="company-info">
      
      <p>Copyright © 2023 NextReads</p>
    </div>
  </footer>