{% load static %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div
        class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-5 row-cols-xl-6 g-3"
      >
        {% include 'partials/browse_book_card.html'%}
        {% include 'partials/browse_book_card.html'%}
        {% include 'partials/browse_book_card.html'%}
        {% include 'partials/browse_book_card.html'%}
        {% include 'partials/browse_book_card.html'%}
        {% include 'partials/browse_book_card.html'%}
        {% include 'partials/browse_book_card.html'%}
        {% include 'partials/browse_book_card.html'%}
        {% include 'partials/browse_book_card.html'%}

       

      </div>
    </div>
  </div>