{% load static %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <h5 class="text-center mb-5">
        Rate at least 5 books to continue, or tell us about books you heard
        about before and want to read.
      </h5>
      <div
        class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-5 row-cols-xl-6 g-3"
      >
        {% include 'partials/rate_book_card.html'%}
        {% include 'partials/rate_book_card.html'%}
        {% include 'partials/rate_book_card.html'%}
        {% include 'partials/rate_book_card.html'%}
        {% include 'partials/rate_book_card.html'%}
        {% include 'partials/rate_book_card.html'%}
        {% include 'partials/rate_book_card.html'%}
        {% include 'partials/rate_book_card.html'%}
        {% include 'partials/rate_book_card.html'%}
        {% include 'partials/rate_book_card.html'%}

      </div>
    </div>
  </div>